<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevin.gamehelper.mygamehelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="kevin.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dota2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="kevin.mygamehelper.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="kevin.mygamehelper.MainActivity"
            android:label="@string/app_name">

        </activity>

        <activity android:name="kevin.mygamehelper.data.Dota2SearchActivity">

        </activity>

        <activity android:name="kevin.mygamehelper.data.Dota2PreviewActivity">

        </activity>

        <activity android:name="kevin.mygamehelper.data.Dota2MainMatchActivity">

        </activity>

        <activity android:name="kevin.mygamehelper.SignInActivity"
            android:launchMode="singleInstance">

        </activity>

        <activity android:name="kevin.mygamehelper.SignUpActivity"
            android:launchMode="singleInstance">

        </activity>

        <activity android:name="kevin.mygamehelper.PasswordModifyActivity">

        </activity>
    </application>

</manifest>
